
.card {
  padding: 2em;
}

body{
  background-color: rgb(226, 232, 240);
}
.header-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  color:white
}
.card{
  border-radius: 20px;
  border: 0.001rem solid white;
}
.updated_date{
  justify-content: end;
  display: flex;
}

.note-details{
  justify-content: center;
  display: flex;
  /* align-items: center; */
  height: 100%;
  /* width: 50rem; */
  /* background-color:#434343; */
  color:white;
}

.note-area {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  resize: none;
  width: 100%;
  height: auto;
  outline: none;
}
.title-input{
  background-color: transparent;
  border: none;
  color: white;
  resize: none;
  width: 50%;
  outline: none;
}

.note-header{
  display: flex;
  justify-content: space-between;
}

.btn-opt{
  border-radius: 20px;
  margin: 4px;
  font-size: x-small;
}

.container h2 svg{
    color: chocolate;
    width: 20px;
    margin-right: 8px;
}
.note-body{
  font-size: 25px;
}

.add-btn{
  font-size: 25px;
  background-color: rgb(241, 94, 65);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

} 